# This block is inserted automatically into the existing annushkaaaaa.store site block.
# BEGIN TEMPLATE-FILLER (managed by GitHub Actions)
redir /templates /templates/

handle_path /templates/* {
    reverse_proxy template-filler:8080
}
# END TEMPLATE-FILLER (managed by GitHub Actions)
